form label{
    font-size: 20px ;
}
.panel-gambar{
    background-image: url('./assets/charles-rRWiVQzLm7k-unsplash.jpg');  
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
    background-size: cover;
  
}
.panel-gambar::after{
    content: '' ;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(25, 52, 94, .65);
}